@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Hanken Grotesk Bold';
    src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf');
}
@font-face {
    font-family: 'Hanken Grotesk Extra Bold';
    src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}
@font-face {
    font-family: 'Hanken Grotesk Medium';
    src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf');
}


:root{
    /* Primary colors */
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-orangey-yellow: hsl(39, 100%, 56%);
    --clr-green-teal: hsl(166, 100%, 37%);
    --clr-cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --grad-light-slate-blue-background: hsl(252, 100%, 67%);
    --grad-light-royal-blue-background: hsl(241, 81%, 54%);
    --grad-violet-blue-circle: hsla(256, 72%, 46%, 1);
    --grad-persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-light-lavender: hsl(241, 100%, 89%);
    --clr-dark-gray-blue: hsl(224, 30%, 27%);

    /* Body Copy */
    --fs-paragraphs: 18px;

    /* Font */
    --ff-Hanken-Grotesk: 'Hanken Grotesk';
    --ff-Hanken-Grotesk-bold: 'Hanken Grotesk Bold';
    --ff-Hanken-Grotesk-extra-bold: 'Hanken Grotesk Extra Bold';
    --ff-Hanken-Grotesk-medium: 'Hanken Grotesk Medium';

    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.header-container{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 2em 0;
    text-align: center;
    background-color: var(--clr-cobalt-blue); /* need gradient */
    border-radius: 0 0 30px 30px;
    
}
.header-container h1 {
    font-family: var(--ff-Hanken-Grotesk);
    font-size: var(--fs-paragraphs);
    font-weight: var(--fw-500);
    color: var(--clr-white);
}
.header-container #score-results-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin-top: 1.5em;
    border: 1px solid var(--clr-dark-gray-blue);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    font-family: var(--ff-Hanken-Grotesk);
}
.header-container #score-results-circle h2{
    color: var(--clr-white); 
    font-size: 46px;
    font-weight: var(--fw-800);
}
.header-container #result-remainder{
    color: var(--clr-white) ;
}
.header-container #great{
    color: var(--clr-white);
    font-family: var(--ff-Hanken-Grotesk-extra-bold);
    font-weight: var(--fw-700);
    font-size: 26px;
    margin: 1em 0 .5em 0;
}
.header-container #score-percentage{
    margin: 0 5em 0 5em;
    color: var(--clr-white);
    font-family: var(--ff-Hanken-Grotesk);
    font-size: 14px;
    font-weight: var(--fw-500);
}
.results-container{
    margin: 1em 2em 0 2em;    
}
.results-container #summary-header{
    margin-bottom: 1em;
    font-family: var(--ff-Hanken-Grotesk-bold);
}
.results-container #reaction-container, 
.results-container #memory-container, 
.results-container #verbal-container, 
.results-container #visual-container{
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 3em;
    margin-bottom: 1em;
    height: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 6%;
    font-family: var(--ff-Hanken-Grotesk-bold);
    font-size: var(--fs-paragraphs);
    font-weight: var(--fw-500);
}
.results-container #reaction-container{
    background-image: url('/assets/images/icon-reaction.svg');
    color: var(--clr-light-red);
    background-color: hsl(0, 100%, 67%, .1);
}
.results-container #memory-container{
    background-image: url('/assets/images/icon-memory.svg');
    color: var(--clr-orangey-yellow);    
    background-color: hsl(39, 100%, 56%, .1);    
}
.results-container #verbal-container{
    background-image: url('/assets/images/icon-verbal.svg');
    color: var(--clr-green-teal);    
    background-color: hsl(166, 100%, 37%, .1);
}
.results-container #visual-container{
    background-image: url('/assets/images/icon-visual.svg');
    color: var(--clr-cobalt-blue);    
    background-color: hsl(234, 85%, 45%, .1);
}
.results-container #reaction-ratio,
.results-container #memory-ratio,
.results-container #verbal-ratio,
.results-container #visual-ratio{    
    color: var(--clr-dark-gray-blue);
    position: absolute;
    right: 2.5em;
}
.results-container #reaction-ratio:after,
.results-container #memory-ratio:after,
.results-container #verbal-ratio:after,
.results-container #visual-ratio:after{    
    content: '/ 100';
    color: var(--clr-light-lavender);
}
.results-container #continue-button{
    font-family: var(--ff-Hanken-Grotesk-bold);
    font-size: var(--fs-paragraphs);
    font-weight: var(--fw-700);
    color: var(--clr-white);
    border: 1px solid var(--clr-dark-gray-blue); 
    background-color:  var(--clr-dark-gray-blue);
    width: 100%;
    height: 3em;
    border-radius: 500px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
